* {
    margin:0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins";
 }

body{
   background: rgb(255,217,15);
}

#container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80%;
   margin: auto;
   overflow: hidden;
}


  .main-zone{
    display: flex;
 
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: white;
    gap: 10px;
    padding: 5% 2%;
    
 }

 .info h1{
   color: rgb(255,217,15) ;
 }

.info{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
  gap:20px;
  padding-top: 30px;
}

 header,footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: rgb(112,209,255);
   color:white; 
 }
 

 header img{
   width: 100%;
   max-height:400px;
   overflow: hidden;
   object-fit: cover;
 }

 #menu{
  display: none;
 }

 #nav{
   
   background-color: rgb(112,209,255);
   align-self: flex-start;
   padding:1% 3%;
   min-width: 15%;
   
 }
 #nav ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: nowrap;
   gap: 5px;
 }
 #nav ul li{
   list-style-type:none;
 }

 #nav ul li a{
   color: white;
 }
 #nav ul #close{
   align-self: flex-end;
   display: none;
 }
 #nav ul #close img{
  width: 50px;
  filter: invert();
}

.card{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-self:flex-start;
   align-items: center;
   background-color: rgb(112,209,255);
   padding: 2% ;
   gap: 10px;
   min-width: 25%;
}
.card .card-photo{
   color: white;  
}

.card .card-photo img{
  border: 1px solid white;
}

footer{
   padding: 10px 0;
   background:rgb(23,145,255);
}

@media only screen and (min-device-width : 481px) and (max-device-width : 1370px){

  .main-zone{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #nav {
    flex: 1 0 100%;
    flex-direction: row;
  }

  #nav ul{
    flex-direction: row;
  }

  .info{
    width: 49%;
  }
  .card{
    width: 49%;
    align-self: stretch;
  }
}


@media only screen and (max-device-width : 480px) {
  *{
    font-size:xx-large; 
  }
  .main-zone{
    flex-wrap: wrap;
    justify-content:flex-start;

  }


  #menu{
    display:block;
  }

  #menu.hide{
    display:none;
  }
  #nav{
    flex: 1 0 100%;
    transform: translateX(-110%);
    transition: transform 0.1s ease;
    height: 0;
    
  }

#nav.open{
  transform: translateX(0);
  height: auto;
}

/*  #nav:target{
    transform: translateX(0);
    transition: transform 0.5s ease;
    border: 2px solid black;
    
  }*/
#nav ul #close{
  display: block;
}

}


